<template>
  <div class="row">
    <div class="col-12">
      <h3>Hi! What's your name?</h3>
    </div>
    <div class="col-12">
      <!-- We're going to bind this input to the player property. -->
      <input maxlength="15" class="form-control form-control-lg" type="text" v-model="player" />
    </div>
    <div class="col-12">
      <!-- This play button will only be visible if the name 
      the user entered is longer than one character-->
      <router-link
        class="btn btn-success btn-lg btn-block"
        to="/play"
        v-if="player.length > 1"
      >Play!</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",

  // Our data object only needs to keep track of one thing, the player.

  data() {
    return {
      player: ""
    };
  },

  // Let's watch the player property. If it changes, we'll tell the store to set the player

  watch: {
    player(newValue) {
      this.$store.commit("setPlayer", this.player);
    }
  }
};
</script>

<style scoped>
.btn {
  margin-top: 1em;
}
</style>
