<template>
  <div>
    <!-- This element will be replaced with the Game component -->
    <!-- We'll give it a ref so we can reference it in the script -->
    <game ref="game"></game>
    <!-- Let's only show the leaderboard if there's more than one player -->
    <div v-if="players.length > 1">
      <h3>Leaderboard:</h3>
      <!-- Loop over the list of players -->
      <div v-for="player in players" :key="player.id">
        <!-- If a player doesn't have a name, let's not show them. -->
        <div v-if="player.name">
          <strong class="name">{{player.name}}</strong> -
          <strong class="score">{{player.score}}</strong>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Game from "@/components/Game";
import { mapState } from "vuex";

export default {
  name: "play",

  // The only data we need here is a list of players.

  data() {
    return {
      players: []
    };
  },
  mounted() {
    // If someone managed to load this route and not have
    // a valid name, send them back to the home page
    if (this.player.length < 2) {
      this.$router.push("/");
    }
    // Create an event handler for socket messages
    this.$options.sockets.onmessage = event => {
      // Parse the event response into a JSON object
      let data = JSON.parse(event.data);
      // Assign the players object to a sortest list of players.
      this.players = data.players.sort((a, b) => {
        if (!a.score || !b.score) return 0;
        if (a.score > b.score) return -1;
        if (a.score < b.score) return 1;
        return 0;
      });
    };
  },
  beforeDestroy() {
    // Shut down the socket handler before you leave
    delete this.$options.sockets.onmessage;
  },
  computed: {
    // We'll map the state of the store to this instance
    // This is so we can use this.player
    // instead of this.$store.state.player
    ...mapState(["player"])
  },
  components: {
    Game
  }
};
</script>

<style scoped>
.name {
  color: rgba(0, 0, 0, 0.5);
}
.score {
  color: #ff0;
}
</style>
