<template>
  <div>
    <div class="row">
      <div class="col-4">
        <!-- Show the game clock using our fancy time filter -->
        <h4>
          <span>Time:</span>
          {{duration - currentTime | time}}
        </h4>
      </div>
      <div class="col-4">
        <h4>
          <span>Score:</span>
          {{score}}
        </h4>
      </div>
      <div class="col-4">
        <h4>
          <span>Player:</span>
          {{player}}
        </h4>
      </div>
    </div>
    <!-- If you click the game board, your score goes down! --->
    <div class="game-board" :style="gameStyle" @click="decrementScore">
      <!-- Show the Start button only if the game isn't over and we're not ticking -->
      <button v-if="!tick && !isGameOver" class="btn btn-block btn-dark" @click="startGame">Start</button>
      <!-- Only show Game Over if the game is over and we're not ticking -->
      <div v-if="!tick && isGameOver" class="text-center">
        <h3>Game Over, {{player}}!</h3>
        <h6>Your Score:</h6>
        <h1>{{score}}</h1>
        <button class="btn btn-block btn-dark" @click="startGame">Try Again</button>
      </div>
      <mole v-if="tick"></mole>
    </div>
  </div>
</template>

<script>
import Mole from "@/components/Mole";
import { mapState } from "vuex";

export default {
  name: "game",
  data() {
    return {
      width: 640,
      height: 480,
      duration: 15 * 1000, // How long the game should last
      startTime: null, // When the game began
      currentTime: null, // The elapsed game time
      tick: null, // Our game loop
      score: 0, // We all start with a crappy score
      isGameOver: false
    };
  },
  filters: {
    // If the value is zero, return 0.00
    // Otherwise, get a nice two decimal digit number
    time(value) {
      if (value <= 0) return (0).toFixed(2);
      return (value / 1000).toFixed(2);
    }
  },
  watch: {
    // If the score changes, let the websocket know
    score(newVal) {
      this.$socket.sendObj({
        type: "whack",
        player: this.player,
        score: newVal
      });
    }
  },
  methods: {
    startGame() {
      // Initialize our game state
      this.isGameOver = false;
      this.score = 0;
      this.startTime = Date.now();
      // Start tickin.
      this.tick = window.setInterval(() => {
        this.currentTime = Date.now() - this.startTime;
        // If the elapsed time is greater than the game duration
        // then we are done here
        if (this.currentTime >= this.duration) {
          window.clearInterval(this.tick);
          this.tick = null;
          this.isGameOver = true;
        }
      }, 60);
    },
    incrementScore() {
      if (this.isGameOver) return;
      if (this.score < 2) {
        this.score = 2;
      } else {
        // A whack doubles your score
        this.score *= 2;
        // Plus a little random bonus
        this.score += Math.floor(Math.random() * 10);
      }
    },
    decrementScore() {
      if (this.isGameOver) return;
      // A miss-click cuts your score in half
      this.score = Math.floor(this.score / 2);
    }
  },
  mounted() {},
  beforeDestroy() {
    window.clearInterval(this.tick);
  },
  computed: {
    ...mapState(["player"]),
    gameStyle() {
      // Return a style object based on the game properties
      return {
        width: `${this.width}px`,
        height: `${this.height}px`
      };
    }
  },
  components: {
    Mole
  }
};
</script>

<style lang="scss" scoped>
h4 > span {
  opacity: 0.5;
  color: #000;
}
.game-board {
  position: relative;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  font-size: 100px;
  animation: flash 250ms infinite;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}
@keyframes flash {
  0% {
    color: #ff0;
  }
  50% {
    color: #fff;
  }
  100% {
    color: #ff0;
  }
}
</style>
