<!-- This component is the mole you've gotta click -->

<template>
  <!-- Wrap the entire mole in a transition -->
  <!-- so we can animate it as it appears/disappears -->
  <transition name="pop">
    <!-- Only show the mole if isWhacked is false -->
    <!-- Bind its style to a computed property -->
    <!-- When clicked, run the whack method -->
    <div class="mole" v-show="!isWhacked" :style="moleStyle" @click="whack"></div>
  </transition>
</template>

<script>
export default {
  name: "mole",
  // In data, keep track of the x and y position,
  // width and isWhacked-ness of the mole
  data() {
    return {
      x: Math.random() * this.$parent.width,
      y: Math.random() * this.$parent.height,
      width: 50,
      height: 50,
      isWhacked: false
    };
  },
  computed: {
    moleStyle() {
      // Return a style object based on the mole's properties
      return {
        left: `${this.x}px`,
        top: `${this.y}px`,
        width: `${this.width}px`,
        height: `${this.height}px`
      };
    }
  },
  methods: {
    whack(event) {
      // I don't want the click even bubbling up, so we'll kill it
      event.stopPropagation();
      // If the game is over, dump out early
      if (this.$parent.isGameOver) return;
      // YOU BEEN WHACKED
      this.isWhacked = true;
      // Call the incrementScore method of the game
      this.$parent.incrementScore();
      // Wait a sec, then give the mole a new location and
      // set the isWhacked property back to false
      window.setTimeout(() => {
        this.x = Math.random() * this.$parent.width;
        this.y = Math.random() * this.$parent.height;
        this.isWhacked = false;
      }, 250);
    }
  }
};
</script>

<style lang="scss" scoped>
.mole {
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  animation: mole-animation 1s infinite;
  background: linear-gradient(270deg, #d53369 0%, #daae51 100%);
  background-size: 400% 400%;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}
.pop-enter-active,
.pop-leave-active {
  transition: all 250ms;
}
.pop-enter,
.pop-leave-to {
  opacity: 0;
  transform: scale(0);
}
@keyframes mole-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
</style>