<template>
  <div class="container">
    <h1>Whack-a-Vue</h1>
    <hr />
    <router-view />
  </div>
</template>

<style>
html,
body {
  background: linear-gradient(0deg, #00d2ff 0%, #3a47d5 100%);
  width: 100%;
  height: 100%;
  color: #fff;
}
body {
  padding-top: 3em;
}
h3 {
  margin-bottom: 1em;
}
</style>
